---
interface Props {
	id: string;
	title: string;
	backdrop: boolean;
}

const { id, title, backdrop } = Astro.props;
---

<div
	{id}
	class:list={[
		"card order-2 shadow-sm",
		backdrop ? "bg-base-100/67 backdrop-blur-sm" : "bg-base-100",
	]}
>
	<div class="card-body items-center justify-center text-center">
		<h2 class="card-title">{title}</h2>

		<div class="flex flex-wrap justify-center gap-1 *:w-max *:min-w-30">
			<slot />
		</div>
	</div>
</div>
