---
import type { dayjs } from "~/lib/date";
import { formatNumber, sum } from "~/lib/math";
import { capitalize, pluralize } from "~/lib/utilities";
import { calculateSongs } from "../_calculate";
import { STARS_PER_PULL } from "../_constants";

interface Props {
	until: dayjs.Dayjs;
	options: App.CalculateOptions;
}

const { until, options } = Astro.props;

const results = calculateSongs(until, options);
const stars = {
	S: sum(results.map(({ score }) => score.s)),
	SS: sum(results.map(({ score }) => score.ss)),
	FC: sum(
		results.flatMap(({ fullCombo }) =>
			Object.values(fullCombo).map((it) => it.stars),
		),
	),
};

const total = sum(Object.values(stars));
const pulls = Math.floor(total / STARS_PER_PULL);
---

{
	Object.entries(stars).map(([label, value]) => (
		<div class:list={["badge", value > 0 ? "badge-accent" : "badge-neutral"]}>
			{capitalize(label)} : {formatNumber(value)}&starf;
		</div>
	))
}

<div class="badge badge-info">
	Total : {formatNumber(total)}&starf; /
	{pulls}&Cross; {pluralize(pulls, "Pull")}
</div>
