---
import type { dayjs } from "~/lib/date";
import { formatNumber } from "~/lib/math";
import { pluralize } from "~/lib/utilities";
import { calculateDaily } from "../_calculate";
import { STARS_PER_PULL } from "../_constants";

interface Props {
	from: dayjs.Dayjs;
	to: dayjs.Dayjs;
	options: App.CalculateOptions;
}

const { from, to, options } = Astro.props;

const { stars, starGachaTicket } = calculateDaily({ from, to }, options);
const pulls = Math.floor(stars.dailyLogin / STARS_PER_PULL);
---

<div
	class:list={[
		"badge",
		stars.dailyLogin > 0 ? "badge-accent" : "badge-neutral",
	]}
>
	Daily Login : {formatNumber(stars.dailyLogin)}&starf; /
	{pulls}&Cross; {pluralize(pulls, "Pull")}
</div>
<div
	class:list={[
		"badge",
		starGachaTicket.dailyLives > 0 ? "badge-accent" : "badge-neutral",
	]}
>
	Daily Live : {starGachaTicket.dailyLives}&Cross; Star Gacha Ticket
</div>
