---
import type { Entry } from "@/contents/data";
import { formatNumber, sum } from "~/lib/math";
import { capitalize, pluralize } from "~/lib/utilities";
import { calculateEvents } from "../_calculate";
import { STARS_PER_PULL } from "../_constants";

interface Props {
	events: (Entry<"event_map"> | null)[];
	options: App.CalculateOptions;
}

const { events, options } = Astro.props;

const results = calculateEvents(events, options);
const stars = {
	point: sum(results.map(({ point }) => point)),
	rank: sum(results.map(({ rank }) => rank)),
	story: sum(results.map(({ story }) => story)),
};

const total = sum(Object.values(stars));
const pulls = Math.floor(total / STARS_PER_PULL);
---

{
	Object.entries(stars).map(([label, value]) => (
		<div class:list={["badge", value > 0 ? "badge-accent" : "badge-neutral"]}>
			{capitalize(label)} : {formatNumber(value)}&starf;
		</div>
	))
}

<div class="badge badge-info">
	Total: {formatNumber(total)}&starf; /
	{pulls}&Cross; {pluralize(pulls, "Pull")}
</div>
