---
import type { dayjs } from "~/lib/date";
import { formatNumber, sum } from "~/lib/math";
import { pluralize } from "~/lib/utilities";
import { calculateSongs } from "../_calculate";
import { STARS_PER_PULL } from "../_constants";
import { getOptions } from "../_options";

interface Props {
	until: dayjs.Dayjs;
}

const { until } = Astro.props;
const options = await getOptions(Astro);

const results = calculateSongs(until, options);
const stars = {
	S: sum(results.map(({ score }) => score.s)),
	SS: sum(results.map(({ score }) => score.ss)),
	FC: sum(
		results.flatMap(({ fullCombo }) =>
			Object.values(fullCombo).map((it) => it.stars),
		),
	),
};

const total = sum(Object.values(stars));
const pulls = Math.floor(total / STARS_PER_PULL);
---

<>
	<div class="flex w-full items-center justify-center">
		<div class="flex flex-col gap-1">
			{
				Object.entries(stars).map(([label, value]) => (
					<div
						class:list={[
							"badge w-32 capitalize",
							value > 0 ? "badge-accent" : "badge-neutral",
						]}
					>
						{label} : {formatNumber(value)}&starf;
					</div>
				))
			}
		</div>

		<div class="flex flex-col gap-1">
			<div class="badge badge-info w-32">
				Total: {formatNumber(total)}&starf;
			</div>
			<div class="badge badge-info w-32">
				{pulls}&Cross; {pluralize(pulls, "Pull")}
			</div>
		</div>
	</div>
</>
