---
interface Props {
	href: string;
	active: boolean;
	size?: "small" | "medium" | "large";
	class?: string;
}

const { active, href, size, class: className } = Astro.props;
---

<a
	{href}
	up-layer="new"
	up-size={size}
	up-history="false"
	class:list={[
		"btn bg-primary border-primary-content w-full border",
		active ? "btn-primary" : "btn-disabled text-primary-content/50",
		className,
	]}
>
	<slot />
</a>
