@theme inline {
	--color-bandori-attribute: var(--attribute-color);
	--color-bandori-attribute-alt: var(--attribute-color-alt);
	--color-bandori-attribute-content: var(--attribute-color-content);

	--color-bandori-band: var(--band-color);
	--color-bandori-band-alt: var(--band-color-alt);
	--color-bandori-band-content: var(--band-color-content);

	--color-bandori-difficulty: var(--difficulty-color);
	--color-bandori-difficulty-alt: var(--difficulty-color-alt);
	--color-bandori-difficulty-content: var(--difficulty-color-content);
}

@theme static {
	/* card attributes */
	--color-cool: hsl(232 77% 57%);
	--color-cool-alt: light-dark(hsl(232 77% 45%), hsl(232 77% 52%));
	--color-cool-content: hsl(0 0% 100%);

	--color-happy: hsl(24 100% 50%);
	--color-happy-alt: light-dark(hsl(24 100% 38%), hsl(24 100% 46%));
	--color-happy-content: hsl(0 0% 100%);

	--color-powerful: hsl(349 100% 60%);
	--color-powerful-alt: light-dark(hsl(349 100% 46%), hsl(349 100% 54%));
	--color-powerful-content: hsl(0 0% 100%);

	--color-pure: hsl(110 66% 46%);
	--color-pure-alt: light-dark(hsl(110 66% 36%), hsl(110 66% 42%));
	--color-pure-content: hsl(0 0% 100%);

	/* bands */
	--color-poppin-party: hsl(338 100% 60%);
	--color-poppin-party-alt: light-dark(hsl(338 100% 46%), hsl(338 100% 54%));
	--color-poppin-party-content: hsl(0 0% 100%);

	--color-afterglow: hsl(355 84% 56%);
	--color-afterglow-alt: light-dark(hsl(355 84% 42%), hsl(355 84% 50%));
	--color-afterglow-content: hsl(0 0% 100%);

	--color-hello-happy-world: hsl(52 100% 50%);
	--color-hello-happy-world-alt: light-dark(hsl(52 100% 62%), hsl(52 100% 56%));
	--color-hello-happy-world-content: hsl(0 0% 0%);

	--color-pastel-palettes: hsl(162 70% 53%);
	--color-pastel-palettes-alt: light-dark(hsl(162 70% 40%), hsl(162 70% 48%));
	--color-pastel-palettes-content: hsl(0 0% 100%);

	--color-roselia: hsl(234 54% 43%);
	--color-roselia-alt: light-dark(hsl(234 54% 30%), hsl(234 54% 38%));
	--color-roselia-content: hsl(0 0% 100%);

	--color-raise-a-suilen: hsl(180 72% 47%);
	--color-raise-a-suilen-alt: light-dark(hsl(180 72% 34%), hsl(180 72% 42%));
	--color-raise-a-suilen-content: hsl(0 0% 100%);

	--color-morfonica: hsl(204 100% 60%);
	--color-morfonica-alt: light-dark(hsl(204 100% 46%), hsl(204 100% 54%));
	--color-morfonica-content: hsl(0 0% 100%);

	--color-mygo: hsl(205 59% 46%);
	--color-mygo-alt: light-dark(hsl(205 59% 34%), hsl(205 59% 42%));
	--color-mygo-content: hsl(0 0% 100%);

	/* difficulties */
	--color-hard: hsl(46 94% 62%);
	--color-hard-alt: light-dark(hsl(46 94% 50%), hsl(46 94% 58%));
	--color-hard-content: hsl(0 0% 0%);

	--color-expert: hsl(358 100% 53%);
	--color-expert-alt: light-dark(hsl(358 100% 40%), hsl(358 100% 47%));
	--color-expert-content: hsl(0 0% 100%);

	--color-special: hsl(319 82% 53%);
	--color-special-alt: light-dark(hsl(319 82% 40%), hsl(319 82% 47%));
	--color-special-content: hsl(0 0% 100%);
}

/* Cool */
[data-attribute="cool"],
[data-attribute="cool"] & {
	--attribute-color: var(--color-cool);
	--attribute-color-alt: var(--color-cool-alt);
	--attribute-color-content: var(--color-cool-content);
}

/* Happy */
[data-attribute="happy"],
[data-attribute="happy"] & {
	--attribute-color: var(--color-happy);
	--attribute-color-alt: var(--color-happy-alt);
	--attribute-color-content: var(--color-happy-content);
}

/* Powerful */
[data-attribute="powerful"],
[data-attribute="powerful"] & {
	--attribute-color: var(--color-powerful);
	--attribute-color-alt: var(--color-powerful-alt);
	--attribute-color-content: var(--color-powerful-content);
}

/* Pure */
[data-attribute="pure"],
[data-attribute="pure"] & {
	--attribute-color: var(--color-pure);
	--attribute-color-alt: var(--color-pure-alt);
	--attribute-color-content: var(--color-pure-content);
}

/* Poppin' Party */
[data-band-id="1"],
[data-band-id="1"] & {
	--band-color: var(--color-poppin-party);
	--band-color-alt: var(--color-poppin-party-alt);
	--band-color-content: var(--color-poppin-party-content);
}

/* Afterglow */
[data-band-id="2"],
[data-band-id="2"] & {
	--band-color: var(--color-afterglow);
	--band-color-alt: var(--color-afterglow-alt);
	--band-color-content: var(--color-afterglow-content);
}

/* Hello, Happy World! */
[data-band-id="3"],
[data-band-id="3"] & {
	--band-color: var(--color-hello-happy-world);
	--band-color-alt: var(--color-hello-happy-world-alt);
	--band-color-content: var(--color-hello-happy-world-content);
}

/* Pastel*Palettes */
[data-band-id="4"],
[data-band-id="4"] & {
	--band-color: var(--color-pastel-palettes);
	--band-color-alt: var(--color-pastel-palettes-alt);
	--band-color-content: var(--color-pastel-palettes-content);
}

/* Roselia */
[data-band-id="5"],
[data-band-id="5"] & {
	--band-color: var(--color-roselia);
	--band-color-alt: var(--color-roselia-alt);
	--band-color-content: var(--color-roselia-content);
}

/* RAISE A SUILEN */
[data-band-id="18"],
[data-band-id="18"] & {
	--band-color: var(--color-raise-a-suilen);
	--band-color-alt: var(--color-raise-a-suilen-alt);
	--band-color-content: var(--color-raise-a-suilen-content);
}

/* Morfonica */
[data-band-id="21"],
[data-band-id="21"] & {
	--band-color: var(--color-morfonica);
	--band-color-alt: var(--color-morfonica-alt);
	--band-color-content: var(--color-morfonica-content);
}

/* MyGO!!!!! */
[data-band-id="45"],
[data-band-id="45"] & {
	--band-color: var(--color-mygo);
	--band-color-alt: var(--color-mygo-alt);
	--band-color-content: var(--color-mygo-content);
}

[data-difficulty="hard"],
[data-difficulty="hard"] & {
	--difficulty-color: var(--color-hard);
	--difficulty-color-alt: var(--color-hard-alt);
	--difficulty-color-content: var(--color-hard-content);
}

[data-difficulty="expert"],
[data-difficulty="expert"] & {
	--difficulty-color: var(--color-expert);
	--difficulty-color-alt: var(--color-expert-alt);
	--difficulty-color-content: var(--color-expert-content);
}

[data-difficulty="special"],
[data-difficulty="special"] & {
	--difficulty-color: var(--color-special);
	--difficulty-color-alt: var(--color-special-alt);
	--difficulty-color-content: var(--color-special-content);
}
