@import "tailwindcss";
@plugin "daisyui" {
	themes:
		pastel --default,
		dracula --prefersdark;
	exclude:
		rootscrollgutter,
		properties /* https://github.com/saadeghi/daisyui/issues/3882 */;
	logs: true;
}

@import "./bandori.css";
@import "./schedule-x-calendar.css";
@import "./unpoly.css";
@import "./view-transition.css";

:root {
	color-scheme: light dark;

	&[data-theme="pastel"] {
		color-scheme: light;
	}

	&[data-theme="dracula"] {
		color-scheme: dark;
	}
}

@utility absolute-center-x {
	@apply left-1/2 -translate-x-1/2;
}

@utility absolute-center-y {
	@apply top-1/2 -translate-y-1/2;
}

@utility absolute-center {
	@apply absolute-center-x absolute-center-y;
}

@utility flash-overlay {
	position: relative;

	&::after {
		content: "";
		border-radius: inherit;
		transition: all 750ms ease-out;
		@apply bg-primary/0 outline-primary/0 absolute inset-0 outline-4;
	}

	&.flash::after {
		@apply bg-primary/80 outline-primary/80;
	}
}
