@import "tailwindcss";
@plugin "daisyui" {
	themes:
		pastel --default,
		dracula --prefersdark;
	exclude: rootscrollgutter;
	logs: true;
}

@import "./bandori.css";

:root {
	color-scheme: light dark;

	&[data-theme="pastel"] {
		color-scheme: light;
	}

	&[data-theme="dracula"] {
		color-scheme: dark;
	}
}

up-popup,
up-cover-box,
up-drawer-box,
up-modal-box {
	@apply bg-base-100 rounded-box;
}
