@import "tailwindcss";
@plugin "daisyui" {
	themes:
		pastel --default,
		dracula --prefersdark;
	exclude: rootscrollgutter;
	logs: true;
}

@import "./bandori.css";
@import "./unpoly.css";
@import "./view-transition.css";

:root {
	color-scheme: light dark;

	&[data-theme="pastel"] {
		color-scheme: light;
	}

	&[data-theme="dracula"] {
		color-scheme: dark;
	}
}
