@import "tailwindcss";
@plugin "daisyui" {
	themes:
		pastel --default,
		dracula --prefersdark;
	exclude: rootscrollgutter;
	logs: true;
}

@import "./bandori.css";
@import "./unpoly.css";
@import "./view-transition.css";

:root {
	color-scheme: light dark;

	&[data-theme="pastel"] {
		color-scheme: light;
	}

	&[data-theme="dracula"] {
		color-scheme: dark;
	}
}

@utility absolute-center-x {
	@apply left-1/2 -translate-x-1/2;
}

@utility absolute-center-y {
	@apply top-1/2 -translate-y-1/2;
}

@utility absolute-center {
	@apply absolute-center-x absolute-center-y;
}
