@import "unpoly/unpoly.css";

up-popup,
up-cover-box,
up-drawer-box,
up-modal-box {
	@apply bg-base-100 text-base-content;
}

up-popup,
up-modal-box {
	@apply rounded-box;
}

up-modal-box {
	@apply my-auto;
}
