---
import { card_map } from "@/contents/data";
import GachaCardGrid from "~/components/gacha-card-grid.astro";
import { regionValue } from "~/lib/utilities";

export const partial = true;

const card = card_map.get(Astro.params.card_id!);
if (!card) {
	return new Response("Card not found.", { status: 404 });
}

const gachaList = regionValue.unwrap(
	regionValue.map(card.rateUpGacha, (items) =>
		items.map(({ rateUp, ...entry }) => ({
			gacha: { ...entry, rateUp },
			rate: regionValue.unwrap(rateUp)?.find((it) => it.card.id === card.id)!
				.rate,
		})),
	),
);
---

<div id="select-gacha">
	<h1
		data-scroll-here="start"
		class="scroll-here mb-4 scroll-mt-4 text-center text-2xl font-semibold"
	>
		Gacha List
	</h1>

	{
		!gachaList || (gachaList?.length ?? 0) === 0 ? (
			<p class="text-base-content/50 text-center">
				No rate-up gacha available.
			</p>
		) : (
			<GachaCardGrid {gachaList} />
		)
	}
</div>
