---
import BaseLayout from "~/layouts/base-layout.astro";
---

<BaseLayout>
	<div class="absolute-center absolute">
		<a
			href="/partials/select-card"
			up-layer="new"
			up-history="false"
			up-evict-cache="/partials/select-card"
			class="btn btn-accent"
		>
			Select card
		</a>
	</div>
</BaseLayout>
