---
import { getCollection } from "astro:content";

import BaseLayout from "~/layouts/base-layout.astro";

const events = await getCollection("events");
---

<BaseLayout>
	<div>{JSON.stringify(events)}</div>
</BaseLayout>
