---
import { Icon } from "astro-icon/components";

import { card_map } from "@/contents/data";
import BaseLayout from "~/layouts/base-layout.astro";
import { getCardAsset } from "~/lib/assets";
import { showFullCardModalOnClick } from "./view/card/_helper";

const randomCard = (() => {
	const id = [...card_map.keys()][Math.floor(Math.random() * card_map.size)];
	return { card: card_map.get(id)!, trained: Math.random() < 0.5 };
})();
---

<BaseLayout
	title="Homepage"
	description="Free stars calculator for BanG Dream GBP! (EN)"
	image={(await getCardAsset(Astro, { kind: "full", ...randomCard })).src}
>
	<a
		{...showFullCardModalOnClick(randomCard.card, {
			show_gacha_list: true,
			show_trained: randomCard.trained,
		})}
		class="absolute h-screen w-screen select-none"
	>
		<img
			{...await getCardAsset(Astro, { kind: "full", ...randomCard })}
			class="-z-1 h-full w-full object-cover"
		/>
	</a>

	<div
		data-band-id={randomCard.card.band.id}
		class="absolute-center bg-bandori-band/20 rounded-box border-bandori-band absolute flex w-xs flex-col gap-2 border px-12 py-6 backdrop-blur-sm"
	>
		<a
			href="/select/card"
			up-layer="new"
			up-evict-cache="/select/card"
			class="btn btn-primary border-primary-content"
		>
			Select card
		</a>

		<a
			href="/select/gacha"
			up-layer="new"
			up-size="large"
			up-evict-cache="/select/gacha"
			up-accept-location="/calculate/$id"
			up-on-accepted="__unpoly_animateSelectGacha(event)"
			class="btn btn-primary border-primary-content"
		>
			Select gacha
		</a>

		<a
			href="https://github.com/ahmadyasser72/bandori-stars"
			target="_blank"
			rel="noopener noreferrer"
			class="btn btn-secondary btn-sm mt-2"
		>
			View source <Icon name="lucide:github" class="size-4" />
		</a>
	</div>
</BaseLayout>
