---
import BaseLayout from "~/layouts/base-layout.astro";
---

<BaseLayout>
	<div class="absolute-center absolute flex flex-col gap-2">
		<a
			href="/partials/select-card"
			up-layer="new"
			up-history="false"
			up-evict-cache="/partials/select-card"
			up-accept-location="/calculate/gacha/$id"
			class="btn btn-accent"
		>
			Select card
		</a>

		<a
			href="/partials/select-gacha"
			up-layer="new"
			up-size="large"
			up-history="false"
			up-evict-cache="/partials/select-gacha"
			up-accept-location="/calculate/gacha/$id"
			class="btn btn-accent"
		>
			Select gacha
		</a>
	</div>
</BaseLayout>
