---
import type { Entry } from "@/contents/data";
import { getCardAsset } from "~/lib/assets";
import {
	showFullCardModalOnClick,
	type FullCardModalOptions,
} from "~/pages/partials/view-card/_helper";

interface Props {
	card: Entry<"card_map">;
	options: FullCardModalOptions;
}

const { card, options } = Astro.props;
---

<a {...showFullCardModalOnClick(card, options)} data-band-id={card.band.id}>
	<img
		{...getCardAsset({
			card: card,
			kind: "icon",
			trained: !!options.show_trained,
		})}
		class="rounded-box shadow-bandori-band size-12 hover:shadow-md"
	/>
</a>
