---
import type { Entry } from "@/contents/data";
import { getBlurhash, getCardAsset } from "~/lib/assets";
import {
	showFullCardModalOnClick,
	type FullCardModalOptions,
} from "~/pages/partials/view-card/_helper";

interface Props {
	card: Entry<"card_map">;
	options: FullCardModalOptions;
}

const { card, options } = Astro.props;

const image = getCardAsset({
	card: card,
	kind: "icon",
	trained: !!options.show_trained,
});
const blurhash = await getBlurhash(Astro, image.src);
---

<a {...showFullCardModalOnClick(card, options)} data-band-id={card.band.id}>
	<img
		{...image}
		data-blurhash={blurhash}
		class="rounded-box shadow-bandori-band size-12 hover:shadow-md"
	/>
</a>
