---
import Item, { type Props as ItemProps } from "./gacha-card-grid-item.astro";

interface Props {
	gachaList: Omit<ItemProps, "options">[];
}

const { gachaList } = Astro.props;
---

<ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
	{
		gachaList.map((props) => (
			<li class="contents">
				<Item {...props} />
			</li>
		))
	}
</ul>
