---
import "~/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="min-h-screen min-w-screen">
		<main up-main class="container mx-auto flex flex-col py-12">
			<slot />
		</main>
	</body>
</html>

<script>
	import "unpoly/unpoly.js";

	import { animateViewFullCard, applyFormValueToSiblings } from "~/lib/unpoly";

	window.applyFormValueToSiblings = applyFormValueToSiblings;
	window.animateViewFullCard = animateViewFullCard;
</script>

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		// https://unpoly.com/templates#template-engine-example
		up.on("up:template:clone", '[type="text/minimustache"]', function (event) {
			let template = event.target.innerHTML;
			let evaluate = (_match, variable) =>
				up.util.escapeHTML(event.data[variable]);
			let filled = template.replace(/{{(\w+)}}/g, evaluate);
			event.nodes = up.element.createNodesFromHTML(filled);
		});
	});
</script>
