---
import "~/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="min-h-screen min-w-screen">
		<main up-main class="container mx-auto flex flex-col py-12">
			<slot />
		</main>
	</body>
</html>

<script src="~/lib/unpoly"></script>
