---
import "~/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="min-h-screen min-w-screen">
		<main up-main class="container mx-auto flex flex-col py-12">
			<slot />
		</main>
	</body>
</html>

<script>
	import "unpoly/unpoly.js";
	import "~/lib/unpoly-minimustache";

	import { animateShowFullCard, applyFormValueToSiblings } from "~/lib/unpoly";

	window.applyFormValueToSiblings = applyFormValueToSiblings;
	window.animateShowFullCard = animateShowFullCard;

	up.compiler(".radio-group", (fieldset) => {
		const isToggleAll = (el: HTMLInputElement) => el.ariaLabel === "All";

		fieldset.addEventListener("input", (event) => {
			if (event.target instanceof HTMLInputElement) {
				const inputs = [
					...(fieldset.querySelectorAll(
						`input[name="${event.target.name}"]`,
					) as NodeListOf<HTMLInputElement>),
				].filter((el) => el !== event.target);

				if (isToggleAll(event.target)) {
					for (const input of inputs) input.checked = event.target.checked;
				} else {
					const [toggleAll] = inputs.splice(inputs.findIndex(isToggleAll), 1);

					toggleAll.checked = [...inputs, event.target].some(
						(el) => el.checked,
					);
				}
			}
		});
	});

	up.compiler(".scroll-here", (el) => {
		setTimeout(
			() =>
				el.scrollIntoView({
					behavior: "smooth",
					block: (el.dataset.scrollHere ?? "nearest") as ScrollLogicalPosition,
				}),
			150,
		);
	});
</script>
